<a href="/main/customer">Dashboard</a>
Account
<a href="/main/customer_basecamp">Basecamp</a>
<a href="/main/customer_backlog">Backlog</a>

<div id="account">

	<h2>Bus-stop Map Project</h2>

	<p class="name">Joe P. Customer</p>
	<p>216-111-2222 <span class="edit"><a href="#">edit</a></p>
	<p>customer@example.com <span class="edit"><a href="#">edit</a></p>
	<p><b>status:</b> active</p>
	<br>
	<br>

	<table>
		<tr>
			<td>Vision
				<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/7s8S7QxpjeY&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/7s8S7QxpjeY&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p>
			</td>
			<td>Product Tour
				<p><span class="edit">please upload video</span> <input type="file"</p>
			</td>
		</tr>
	</table>

</div>

