TODO: tabs
<br>
<a href="/main/developer">Dashboard</a>
Account
<a href="/main/developer_projects">Projects/Cards</a>

<div id="account">

	<h2></h2>

	<p class="name">Ralph "the dog" Developer</p>
	<p>307-999-8888 <span class="edit"><a href="#">edit</a></p>
	<p>developer@cleveland.startupweekend.org <span class="edit"><a href="#">edit</a></p>

</div>

