<a href="/main/developer">Dashboard</a>
<a href="/main/developer">Account</a>
Projects/Cards

<div id="projects">
	<h2>Projects</h2>
	<p>This is the page where all the projects are listed.</p>

	<div style="padding-top: 10px;"><span>Project 1<span>
		<div>1. Ruby Project</div>
		<div>2. C# Project</div>
		<div>3. Java Project</div>
	</div>
	
	<div style="padding-top: 10px;"><span>Project 2<span>
		<div>1. C# Project</div>
		<div>2. Java Project</div>
	</div>
	
	<div style="padding-top: 10px;"><span>Project 3<span>
		<div>1. Erlang Project</div>
		<div>2. F# Project</div>
		<div>3. Ruby Project</div>
	</div>
</div>
