<h1 class="logo">MoonDog</h1>
<h2>Distributed Agile Moonlighting for Entrepreneurial Minded Geeks</h2>

<% form_tag("", :method => "get") do %>
  <%= label_tag(:login, "Login") %>
  <%= text_field_tag(:login) %>
  <%= submit_tag("Login") %>
<% end %>