<h1>MOOOON DOG</h1>

<p>Customers go to Moon Dog and upload a idea video explaining what they want to build.
  They then deposit funds to a MoonDog escrow account.
  An electronic contract is accepted by the client.
  They schedule a Jump Dog session
  - They come to the boat or do a video interview to create the story cards and record a video clip for each story
  card. This is T&M at $60 an hour, Minimum of 4 hours
  - We create a Basecamp project on the MoonDog Website
  - We enter the cards into the Dog Pound system with a video clip per card. Maybe the cards are called Dog Bones?
  - They press the Dog Call button to broadcast out to the dogs that a new project is out there.
  - We do a retrospective on the process and place in the account. We have a right to turn all retrospectives and
  feedback public so that other entrepreneurs can see feedback.
</p>

<h2>Secondary stuff</h2>

<p>Customers go to Moon Dog and upload a idea video explaining what they want to build.
  They then deposit funds to a MoonDog escrow account.
  An electronic contract is accepted by the client.
  They schedule a Jump Dog session
  - They come to the boat or do a video interview to create the story cards and record a video clip for each story
  card. This is T&M at $60 an hour, Minimum of 4 hours
  - We create a Basecamp project on the MoonDog Website
  - We enter the cards into the Dog Pound system with a video clip per card. Maybe the cards are called Dog Bones?
  - They press the Dog Call button to broadcast out to the dogs that a new project is out there.
  - We do a retrospective on the process and place in the account. We have a right to turn all retrospectives and
  feedback public so that other entrepreneurs can see feedback.
</p>


