
	<div class='container_16' style='margin-top: 30px;'>
		<div style='float: left; width: 360px;'>
			<%= image_tag 'YouTube-PlaceHolder.png', :width => '360px', :height => '240px' %>
		</div>
		<div style='float: left; width: 600px;'>
			<p class='tagline'>Helping Entrepreneurs<br/> One Byte at a Time</p>
			<p class='sub_tagline'>Distributed Agile Moonlighting for entrepreneurial-minded geeks.</p>
		</div>
		
		<div class='clear'>
		</div>
		
		<div style='margin-top: 2em;'>
		<div class='sub_paragraph' style='float: left; width: 360px;margin-right: 40px'>
			<%= image_tag 'MoonDog-home_03.gif', :width => 64, :height => 64 %>
			<h1>Who Let the Dogs Out</h1>
			<h2>Why Moondog?</h2>
			<p>
The top talent in Agile Software Development is generally taken in the marketplace.
Entrepreneurs don't have a lot of money, but still need quality software.  They also 
often need guidance in turning their idea into reality.
			</p>
			<p>
MoonDog breaks this vicious cycle by employing the brightest consultants to moonlight
for Entrepreneurs for a fraction of their standard billing rate.  These consultants 
work only when they have free time available, and when a project speaks to them.  
Entrepreneurs prioritize their ideas, and build their software over time, as their 
budget allows.
			</p>
		</div>
		<div class='sub_paragraph' style='float: left; width: 260px;padding-right: 40px'>
			<%= image_tag 'MoonDog-home_05.gif', :width => 64, :height => 64 %>
			<h1>Puppy Love</h1>
			<h2>Matching Process</h2>
			<p>
After reviewing your idea video, we at MoonDog will meet with you to determine whether 
you are ready to proceed to our intense JumpDog session.  Because we understand that 
sometimes your enthusiasm may be stronger than your business plan, we won't take your 
money or push you through our process before you are ready.  It may not be the answer 
you want to hear at the time, but we hope that it will help you be more successful in the
long run.
			</p>
		</div>
		<div class='sub_paragraph' style='float: left; width: 260px;'>
			<%= image_tag 'MoonDog-home_07.gif', :width => 64, :height => 64 %>
			<h1>Let them Loose</h1>
			<h2>JumpDog Process</h2>
			<p>
We work closely with you to break down your business idea into small "byte-sized" pieces, or 
story cards.  We help you evaluate the cards and pick the ones you want to act upon first.
We help you record a Mission Video and videos for the first few cards to help you get started.
We then introduce you to our DogPark Online Collaboration System, where you can upload your 
videos and "release" cards to begin the development process.
			</p>
		</div>
		<div class='clear'></div>
		</div>
	</div>

