<%= stylesheet_link_tag 'main' %>



<h1 class="logo">MoonDog</h1>
<h2>Distributed Agile Moonlighting for Euntreperneural Minded Geeks</h2>


<%= link_to "register", :controller => "sign_up", :action => "new" %>

