<div class='container_12'>
	<div class='grid_6'>
		<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/CQzUsTFqtW0&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/CQzUsTFqtW0&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
	</div>
	<div class='grid_3'>
		<h3>Tagline!</h3>
	</div>
	<div class='grid_3'>
		<h3>Ready to Start</h3>
	</div>
	<div class='clear'></div>

	<div class='grid_4'>
		Logo
	</div>
	<div class='grid_8'>
		Testimonial
	</div>
	<div class='clear'></div>
</div>

