
	<div class='container_16' style='margin-top: 30px;'>
		<div style='float: left; width: 360px;'>
			<%= image_tag 'YouTube-PlaceHolder.png', :width => '360px', :height => '240px' %>
		</div>
		<div style='float: left; width: 600px;'>
			<p class='tagline'>Helping Entrepreneurs<br/> One Byte at a Time</p>
			<p class='sub_tagline'>Distributed Agile Moonlighting for entrepreneurial-minded geeks.</p>
		</div>
		
		<div class='clear'>
		</div>
		
		<div style='margin-top: 2em;'>
		<div class='sub_paragraph' style='float: left; width: 360px;margin-right: 40px'>
			<%= image_tag 'MoonDog-home_03.gif', :width => 64, :height => 64 %>
			<h1>Who Let the Dogs Out</h1>
			<h2>Why Moondog?</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class='sub_paragraph' style='float: left; width: 260px;padding-right: 40px'>
			<%= image_tag 'MoonDog-home_05.gif', :width => 64, :height => 64 %>
			<h1>Puppy Love</h1>
			<h2>Matching Process</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class='sub_paragraph' style='float: left; width: 260px;'>
			<%= image_tag 'MoonDog-home_07.gif', :width => 64, :height => 64 %>
			<h1>Let them Loose</h1>
			<h2>JumpDog Process</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class='clear'></div>
		</div>
	</div>

