body {
   background-color: #5CA0AD;
}

td {
    font: normal 11px Tahoma, Arial;
    color: #ffffff;
}

h1, h2, h3, h4, h5 {
    color: #460a04;
    margin: 0px;
}


h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}


a {
    font: normal 11px Tahoma, Arial;
    color: #414141;
}

a:hover {
    font: normal 11px Tahoma, Arial;
    color: #00527d;
    text-decoration: none;
}

a.white-link-underline {	
    text-decoration: underline;
    color: #FFFFFF;
}

.white-text{
    color: #ffffff;
}


.blye-text-underline {
    color: #348cbc;
    text-decoration: underline;
}

.blye-text-regular {
    color: #348cbc;
}

.yellow-text-regular {
    color: #db9a00;
}

.yellow-text-underline {
    color: #db9a00;
    text-decoration: underline;
}

.orange-text-regular {
    color: #ca6011;
}

.orange-text-underline {
    color: #ca6011;
    text-decoration: underline;
}

.red-text-regular {
    color: #920f0d;
}

.red-text-underline {
    color: #920f0d;
    text-decoration: underline;
}

.gray-text{
    color: #4c4c4c;
}

.green-text{
    color: #76950b;
}




#main {
   width: 725px;
   margin-left: auto;
   margin-right: auto;
}

#footer {
   width: 705px;
   height: 56px;
   background-image: url('/images/footer_background.gif');
   margin-bottom: 30px;
}

#footer p {
    font-size: 12px;
    text-align: center;
    padding-top: 18px;
}

#header {
    width: 705px;
    background-color: white;
    font-size: 13px;
}

#header h1 {
   font-size: 24px;
   padding-top: 20px;
}

#header img {
    border: 0;
    float: left;
}

#header-content {
   width: 475px;
   height: 192px;
   float: left;
   background-color: white;
}

#menu {
    width: 705px;
}

#menu img {
    float: left;
    border: 0;
}

#main-content {
   color: white;
   width: 705px;
}

#main-content-text {
   width: 480px;
   float: left;
   margin-left: 17px;
   font-size: 12px;
}

#main-content-text  #title {
   color: white;
   font-size: 22px;
   margin-bottom: 10px;
}

#main-content-text h2 {
   color: white;
   margin-top: 18px;
}

#main-content-text img {
   float: right;
}

#main-content-text #basic-package {
   float: left;
   margin-right: 10px;
   margin-top: 8px;
}

#news-events {
   background-color: #5ca0ad;
   width: 205px;
   float: left;
}

#news-events-content {
   background-image: url('/images/bg_green.gif');
   width: 185px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 12px;
}

#news-events-content a {
   float: right;
}


