* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline-width: 0px;
	vertical-align: baseline;
	background: transparent;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	line-height: 125%;
	color: #333333;
}

body {
	background:#f3f3f3;
	height:100%;
}

#bodyContainer {
   min-height:100%;
   position:relative;
}

p {
	margin-bottom: 18px;
}

a {
	font-weight: bold;
	color:#3098ce;
	text-decoration: none;
}


#headerContainer {
	background-image: url('/images/slice2.png');
}

#header {
	width:940px;
	margin: 0px auto;
	height: 100px;
}

#headerLinksContainer {
   background-color: #143c64;
}

#headerLinks {
	width:940px;
	margin: 0px auto;
	padding-top:4px;
	padding-bottom:6px;
}

#headerLinks a{
	font-weight: bold;
	font-size:12px;
	padding:8px;
	color:#fff;
}

#headerLinks a:hover{
	background-color:#001d39;
}
#headerLinks a.selected{
	background-color:#001d39;
}


#header #nav{
   float:right;
   color:#fff;
   margin-top:12px;
}

#header #nav a{
   margin-left: 8px;
   margin-right: 4px;
   color:#fff;
   font-size:12px;
}

#header #nav a:hover{
   text-decoration:underline;
}

#contentContainer {
	width:956px;
	margin: 0px auto;
	background-color: #f3f3f3;
}

#contentContainer h1.title{
   font-weight:normal;
   font-size:1.4em;
   margin:4px;
   margin-bottom:0px;
   margin-left:12px;
   margin-top:16px;
}

#oneColumn {
	width:956px;
    background-color: #f3f3f3;	
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

#oneColumnHeader {
	background-image: url('/images/onecolumn_background.png');
	background-repeat: repeat-y;
	background-position: top left;
}

#content {
	padding: 30px;
	background-image: url('/images/onecolumn_background.png');
	background-repeat: repeat-y;
	background-position: top left;
	padding-top:10px;
	clear:left;
}

h1 {
	color:#1e2744;
}

h2 {
	color: #b0b0b0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}

.push {
    height: 160px;
}

#footerContainer {
	background-image: url('/images/MoonDog-home_14.gif');
}

#footer {
	color: #f9f9f9;
	margin: 0 auto;
}

input[type="text"], input.text {
	border: 1px solid #000;
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="button"], input[type="submit"] {
	border: 1px solid #000;
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="button"]:hover, input[type="submit"]:hover {
	background: #3098CE;
	color: #FFF;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea {
	border: 1px solid #000;
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="checkbox"] {
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 4px;
}

input[type="radio"] {
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 4px;
}

select {
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 4px;
}

label {
	display: block;
	font-weight: bold;
}

.sliderContent {
	width: 670px;
	height: 300px;
}

#coda-nav-left-1 { margin: 0 1px 0 135px }
#coda-nav-left-1, #coda-nav-1, #coda-nav-right-1 { float: left }
#coda-nav-1 ul { margin: 0 !important }
#coda-nav-left-1 a, #coda-nav-right-1 a { padding: 4px; width: 32px; height: 32px; }
#coda-slider-1 { clear: both }
#coda-nav-left-2 { margin: 0 1px 0 135px }
#coda-nav-left-2, #coda-nav-2, #coda-nav-right-2 { float: left }
#coda-nav-2 ul { margin: 0 !important }
#coda-nav-left-2 a, #coda-nav-right-2 a { padding: 4px; width: 32px; height: 32px; }
#coda-slider-2 { clear: both }

#account h2, #projects h2 {
  color: #333;
  margin-bottom: 1.5em;
}
#account p, #projects p { margin: 0; line-height: 1.25em }

.name { font-weight: bold; font-size: 120% }

.edit { font-size: 90% }
.edit a { color: #999 }
.edit a:hover { color:#3098ce }

.sub_paragraph h1 { color: #99c017; font-weight: normal; font-size: 125%;}
.sub_paragraph h2 { color: #143c64; font-weight: normal; font-size: 100%;}
.sub_paragraph p { color: #676035; margin-top: 0.5em;}
p.tagline { color: #99c017; font-size: 250%; padding: 0.5; padding-left: 40px;}
p.sub_tagline { color: #554718; font-size: 150%; padding: 25px; padding-left: 40px; margin-top: 30px; background-color: #eae3cb;}

p.copyright { color: #f3f3f3;}

.footer_text { color: #f3f3f3; font-size: 90%;}
.footer_links { color: #f3f3f3; font-size: 90%; text-decoration: underline;}
.footer_logo { background-image: url('/images/MoonDog-home_12.gif');}