* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline-width: 0px;
	vertical-align: baseline;
	background: transparent;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	line-height: 125%;
	color: #333333;
}

body {
	background:#f3f3f3;
	height:100%;
}

#bodyContainer {
   min-height:100%;
   position:relative;
}

p {
	margin-bottom: 18px;
}

a {
	font-weight: bold;
	color:#3098ce;
	text-decoration: none;
}


#headerContainer {
    background-color: #f7f7f7;
	background-image: url('/images/header_background.png');
	background-repeat:repeat-x;
	background-position: bottom left;

}

#header {
	width:940px;
	height:100px;
	margin: 0 auto;
	padding-top:8px;
}

#header #nav{
	float:right;
	margin-top:48px;
}

#header #nav a{
	margin-left: 8px;
	margin-right: 4px;
}

#contentContainer {
	width:960px;
	margin: 0 auto;

}

#oneColumn {
	width:956px;
    background-color: #f3f3f3;
	background-image: url('/images/onecolumn_background.png');
	background-repeat:repeat-y;
	background-position: top left;
	margin-top:30px;
	margin-bottom:30px;
}

#content {
	padding: 30px;
	padding-top:10px;
}

h1 {
	color:#1e2744;
}

h2 {
	color: #b0b0b0;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}

#footerContainer, .push {
    height: 160px;
}

#footerContainer {
	background-color: #1e2744;
}

#footer {
	color: #f9f9f9;
	margin: 0 auto;
	width: 940px;
}

#footer p {
	color: #f9f9f9;
}

input[type="text"], input.text {
	border: 1px solid #000;
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="button"], input[type="submit"] {
	border: 1px solid #000;
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="button"]:hover, input[type="submit"]:hover {
	background: #3098CE;
	color: #FFF;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea {
	border: 1px solid #000;
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="checkbox"] {
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 4px;
}

input[type="radio"] {
	background-color: #F3F3F3;
	font-family: Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	padding: 4px;
}

.sliderContent {
	width: 670px;
	height: 300px;
}

#coda-nav-left-1 { margin: 0 1px 0 135px }
#coda-nav-left-1, #coda-nav-1, #coda-nav-right-1 { float: left }
#coda-nav-1 ul { margin: 0 !important }
#coda-nav-left-1 a, #coda-nav-right-1 a { padding: 4px; width: 32px; height: 32px; }
#coda-slider-1 { clear: both }
#coda-nav-left-2 { margin: 0 1px 0 135px }
#coda-nav-left-2, #coda-nav-2, #coda-nav-right-2 { float: left }
#coda-nav-2 ul { margin: 0 !important }
#coda-nav-left-2 a, #coda-nav-right-2 a { padding: 4px; width: 32px; height: 32px; }
#coda-slider-2 { clear: both }

#account h2 {
  color: #333;
  margin-bottom: 2em;
}
#account p { margin: 0; line-height: 1.25em }

.name { font-weight: bold; font-size: 120% }

.edit { font-size: 90% }
.edit a { color: #999 }
.edit a:hover { color:#3098ce }

