<html>
<head>
<title>MoonDog</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link href="stylesheets/demo.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="main"

  <div id="header">
    <img src="images/header.gif" width="705" height="104" alt="">
    <div id="menu">
      <img src="images/menu_home.gif" alt="" width="107" height="30" border="0">
      <img src="images/menu_about_us.gif" alt="" width="122" height="30" border="0">
      <img src="images/menu_services.gif" alt="" width="113" height="30" border="0">
      <img src="images/menu_projects.gif" alt="" width="120" height="30" border="0">
      <img src="images/menu_support.gif" alt="" width="115" height="30" border="0">
      <img src="images/menu_contacts.gif" alt="" width="128" height="30" border="0">
    </div>
    <img src="images/gears.jpg" width="229" height="192" alt="">
    <div id="header-content">
      <h1 class="gray-text">Helping Entrepreneurs One Byte at a Time</h1>
      <p class="gray-text">
        <b>Distributed Agile Moonlighting for entrepreneurial-minded geeks. </b>
      </p>
      <p class="gray-text">
        <a href="#" class="green-text">Vivamus eget nibh. Etiam cursus leo vel metus</a>. 
        Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum rimis in faucibus orci 
        luctus et ultrices posuere cubilia. 
      </p>  
    </div>
  </div>
  
  <img src="images/blue_bar.gif" width="705" height="10" alt="">
  
  <div id="main-content">
    <div id="news-events">
      <img src="images/green_box_top.gif" width="205" height="12" alt="">
      <div id="news-events-content">
        <img src="images/ne.gif" width="103" height="16" alt="">
        <p><b>November 2oth, '09</b></p>
        <p><b>MoonDog presented</b> at Startup-Weekend Cleveland.  Jon Stahl pitched
          the idea before a group of over 100 attendees.  It was selected as one of
          the eight finalists and had the most votes.
        </p>
        <b><a href="#" class="white-text">read more</a> </b>
        <br />
        <p><b>November 22th, '09</b></p>
        <p><b>Startup-Weekend Cleveland</b> came to a close.  The <b>MoonDog</b> team
          did not win first prize but there was a lot of interest in the project.  The
          team decided to continue development of the idea and software.
        </p>
        <b><a href="#" class="white-text">read more</a> </b>
        <br />
      </div>
      <img src="images/green_box_bottom.gif" width="205" height="14" alt="">
    </div>
    <div id="main-content-text">
      <div id="title">Welcome to Our Software Company Website!</div>
      <img src="images/indexc_29.jpg" width="110" height="72" alt="">
      <p>
        <b>Lorem ipsum dolor sit amet,</b> contuer dipiscingelit<br>
        sed diamaccusantium doloremque laudantium, totam rem aperiam eaquep quaabinve.
      </p>
      <p>
        <a href="#" class="white-text">Store veritatis et quasi architecto</a> beatae vitae 
        dicta sunt, explicabo nemo enim ipsam voluptatem, quia voluptas sit, aspernatur 
        aut odit aut fugit.
      </p>
      <div id="basic-package">
        <a href="#"><img src="images/indexc_32.gif" alt="" width="205" height="186" border="0"></a>
      </div>
      <h2>Program Services</h2>
      <p>
        <b>Lorem ipsum dolor sit amet, contuer adipiscingelit</b><br>
        sed diamaccusantium doloremque laudantium, totam rem aperiam eaquep quaabinve.
      </p>
      <p>
        <a href="#" class="white-text">Store veritatis et quasi architecto beatae vitae dicta sunt</a>,
        explicabo nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit.<br>
      </p>
    </div>
  </div>

  <img src="images/blue_bar.gif" width="705" height="10" alt="">

  <div id="footer" class="white-text">
    <p>Copyright © 2009 MoonDog LLC. All Rights Reserved.</p>
  </div>
  
  <a href="images/3651.jpg">Option 2</a>
  <a href="images/52.jpg">Option 3</a>
  <a href="images/45.jpg">Option 4</a>
  <a href="images/35.jpg">Option 5</a>
  
</div>
</body>
</html>
